*{
    margin: 0px;
    padding: 0px;
}
main{
    
    
}

img#Foto{
    border-radius: 50%;
}
div#sobremim{
    background-color: blueviolet;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    padding-left: 5%;
}
div#informacoes{
    padding-left: 5px;
    display: flex;
    
    justify-content: space-evenly;

}